body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #start-screen, #game-screen, #result-screen, #game-clear-screen {
    margin-top: 100px;
  }
  
  #monster-name {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #result-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  